<% include _header %>
  <!-- Masthead
  <header class="masthead">
    <div class="container">
      <div class="masthead-subheading">
        <%= __('Welcome To NodePop') %>
      </div>
    </div>
  </header> -->
  <section class="page-section" id="services">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">Nodeapi</a></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            <%=__('Announcements List') %>
          </h1>
          <p class="lead">Listando: <%= anuncios.length %> de <%= total %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Venta</th>
                <th style="text-align: right">Precio</th>
                <th>Foto</th>
                <th>Tags</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <% anuncios.forEach(anuncio=> { %>
                <tr>
                  <td>
                    <%= anuncio.nombre %>
                  </td>
                  <td>
                    <%= anuncio.venta ? 'Si' : 'No' %>
                  </td>
                  <td style="text-align: right">
                    <%= anuncio.precio %>€
                  </td>
                  <td><img src="<%= anuncio.foto %>"></td>
                  <td>
                    <%= anuncio.tags %>
                  </td>
                  <td>
                    <%= anuncio._id %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>

          <p>
            <%= __('Examples: ')%></p>

          <ul>
            <li><a href="?">
                <%= __(' All') %> (max. 1000)
              </a></li>
              <li><a href="?start=2&limit=2">
                  <%=__('Paged') %>
                </a></li>
              <li><a href="?sort=precio">
                  <%= __('Sorted by ascending price') %>
                </a></li>
              <li><a href="?sort=-precio">
                  <%= __('Sorted by descending price') %>
                </a></li>
              <li><a href="?tag=mobile">
                  <%= __('with mobile tag')%>
                </a></li>
              </ul>

        </div>
      </div>

      <a href="/">
        <%= __('Back to the home') %>
      </a>

    </div>
  </section>
  <% include _footer %>